</body>
<footer id="foot">
  <h1>T | E</h1>
  <div class="" style="style="margin-left:76%;">
  <p class="foop">Media Relation: TownEast@quinn.pr</p>
  </div>
  <br>
  <h4><b>Town East Architects<br>
<u>  11 Broadway, 17th Floor<br>
New York, New York 10004</u></b></h4>
<div class="foop1">
<h4 class="foop2" style="text-align:right;margin-right:5%;margin-top:-7%;"><b>+1 212 213 8007<br>
hello@towneast.com<br>
<i class="fab fa-instagram"></i> towneastarchitects   <i class="fab fa-twitter"style="margin-left:2%;"></i> @towneastarch</b></h4>
<br><p>© Copyright 2020 Town East Architects.</p>
<div class="row"style="margin-left:76%;margin-top:-3%;"><p class="foop3">Privacy Statement</p><p class="foop4">Terms of Use</p></div>
</div>
<br><br>
</footer>
</html>
