<%- include('partials/header') %>
<section>
  <div class="headd">
    <img src="image/about.jpg" alt="">
    <h1>TOWN | EAST</h1>
  </div>
  <div class="headd2">
    <h1>We approach each project with a fresh canvas and an<br>open mind to create something beautiful.</h1>
  </div>
</section>
<section id="ab">
  <br><br><br>
<h1 class="adh"><b>Partners Dipayan Mukherjee<br>and David East have a<br>legacy of excellence in<br>design for over 25 years</b></h1>
<div class="vl"></div>
<div class="adha">
  <h4 class="adhah4">Town East is an industry-leading architecture firm renowned for creating
  <b>inspirational </b>towers that grace the New York City skyline. Dipayan Mukherjee
  continue the legacy of Goldstein Town & East (GHWA),co-founded in 2008 with Alan Goldstein.
   Upon Alan's retirement in 2006, GHWA was rebranded as Town East.</h4><br><br>

  <h4 class="adhah41">Our team of over 120 talented proffesionals deliver excellence in the
  design of high-rise residential and hospitality buildings, retail and office
  structures and ,ulti-use complexes. We have the vision and skills
  necessary to create <b>bold solutions </b>that respond to the urban
  environment. We are <b>market sensitive, </b>pragmatic and attuned to the
  forces that drive successful development.</h4><br><br>

  <h4 class="adhah41">Our task as designers is to integrate creativity, context, history, culture,
    environment, and inspirational with our expertise, resulting in
    developments that are greater than the sum of their parts. We strive to
    create buildings that are efficient and beautiful, contextual yet fresh,
    <b>timeless </b>yet reflective of the present moment.</h4><br><br>

  <h4 class="adhah41">We collaborate with our affiliated interiors firm, Whitehall to create
    <b>integrated buildings </b> that are <b>thoughtfully designed</b> on both the interior
    and exterior.</h4><br><br>

  <h4 class="adhah41">Our work enahnces the evolving New York City skyline. We approach
    each project with a <b>fresh canvas</b> and an open mind to <b>create something</b>
    <b>beautiful.</b></h4><br><br>
  <a style="color:white; margin-left:5%;" href="/team">Meet our Team ----></a><br><br>
</div><br><br><br /><br><br>
<h1 class="adh1"><b>Clients</b></h1>
<div class="vl1"></div>
<div class="adha1">
  <h4>We've worked with well known clients on many of the most prominent
    structures in the New York City area.</h4><br><br>
  <h5>601 West Comapanies<br>
  AIMCO<br>
Alexico Group, Inc<br>
Atlantic Reality Development Crop.<br>
Brookfield<br>
Carmel Partners<br>
CBSK Ironstate<br>
Complete Development Corp<br>
Continuum<br>
Dattner Properties<br>
DDG Partners<br>
DJS Real Estate Development<br>
ELAD<br>
Equity Residential Management Co.<br>
Extell Development Company<br>
F & T<br>
Fisher Brothers<br>
Flank<br>
Forest City Ratner<br>
Fortis Property Group<br>
Friedland Properties<br>
GFI Properties<br>
GID<br>
Healtherwood Communities<br>
Heritage Real Estate PArtners<br>
Lightstone Group
</h5>
</div>
<div class="adha2">
  <h5>M & H Realty<br>
  Midwood Management<br>
Milstein Properties<br>
Naftali Group<br>
Red Apple Real Estate<br>
Rose Associates<br>
Roseland Properties<br>
Shorewood Real Estate Group<br>
Silverstein Properties<br>
SK Development Group<br>
Slate<br>
SMA Equities<br>
Solow<br>
SR Capital<br>
Stellar Management<br>
Street-Works Development<br>
Tamarkin Co.<br>
The Brauser Group<br>
The Carlyle Group<br>
The Chetrit Group<br>
The Moinian Group<br>
The Trump Organization<br>
The Witkoff Group<br>
Tishman Speyer<br>
Toll Brothers
</h5>
</div><br><br><br><br><br><br><br><br><br>
<h1 class="adh2"><b>Community Support</b></h1>
<div class="vl2"></div>
<div class="adha3">
  <h4 class="adhah42">At Town East, we are looking beyond our roles as architects to become
    involved in the communities we help build. Our employees are at the
    core of our cummunity support by participating in charity races, food
    drives, and volunteering their time to local charities.</h4><br><br>

  <h4 class="adhah43">In addition, we commit our time and support to organizations throughout
    NYC and the country whose programs ilustrate our dedication to a
    healthy community and nation.</h4><br><br>
</div>
<div class="adha4">
  <div class="">
    <h4><b>AIANY</b></h4>
    <p>Showing support to the AIA's New York<br>
      Chapter and the Center for Architecture<br>
      Foundation and the annual Heritage Ball.</p><br><br>
  </div>
  <div class="">
    <h4><b>SkyScraper Museum</b></h4>
    <p>We are happy to support this incredible<br>
      museum and its tribute to the importance of<br>
      skyscrapers in our city skylines.</p><br><br>
  </div>
  <div class="">
    <h4><b>Museum of the City of New York</b></h4>
    <p>We are proud to sponsor the exbition<br>
      'Mastering the Metropolis: New York and<br>
      Zoning, 1916-2016'.</p><br><br>
  </div>
  <div class="adharen">
    <h4><b>REBNY Ball</b></h4><br><br>

      <h4><b>Out of the Darkness</b></h4><br><br>

        <h4><b>Brooklyn Friends</b></h4><br><br>

          <h4><b>Brazil Strings</b></h4><br><br>

            <h4><b>Habitat for Humanity</b></h4><br><br>

              <h4><b>TD Bike Tour</b></h4><br><br>
              </div>
</div>
<div class="adha5">
  <div class="">
    <h4><b>City Harvest</b></h4>
    <p>Over the past three years we have collected<br>
      over 600 pounds of food to help feed hungry<br>
      New Yorkers.</p><br><br>
  </div>
  <div class="">
    <h4><b>Museum of Jewish Heritage</b></h4>
    <p>We support this important Living Memorial to<br>
      the Holocaust located in Lowert Manhattan<br>
      around the corner from our offices.</p><br><br>
  </div>
  <div class="">
    <h4><b>Joan's Legacy</b></h4>
    <p>We are happy to support Joan's Legacy at<br>
      their benefit for Lung Cancer research.</p><br><br>
  </div>
  <div class="">
    <h4><b>Friends Daniel Boone Homestead</b></h4><br><br>
    </div>
    <div class="">
      <h4><b>Foundation Fighting Blindness</b></h4><br><br>
      </div>
      <div class="">
        <h4><b>Poet's House Donation for<br>Fighting Blindness</b></h4><br><br>
        </div>
        <div class="">
          <h4><b>Queens Library Foundation</b></h4><br><br>
          </div>
          <div class="">
            <h4><b>Dave Jordan Racing</b></h4><br><br>
            </div>
</div><br><br><br><br><br><br><br><br><br>
</section>
<section class="colored-section" id="testimonials">
<br><br><br><br>
  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <br><br><br>
        <h4 class="testimonial-text">"Not since McKim, Mead & White were at the height of their<br>
          prewar powers have three architects played such a<br>
          remarkalble role in reshaping the city's architectural<br>
          landscape."</h4><br>
        <em style="margin-left:4%;">-The New York Observer</em><br><br><br>
      </div>
      <div class="carousel-item container-fluid">
        <br><br><br>
        <h4 class="testimonial-text">"You may never have heard og Goldstein, Town & East, but you<br>
          almost certainly recognize their workk - quitely built one of<br>
          the busiest practices in the city creating understated<br>
          buildings for some of New York's most outsized developers."</h4><br>
        <em style="margin-left:4%;">-The Observer</em><br><br><br>
      </div>
      <div class="carousel-item container-fluid">
        <br><br><br>
        <h4 class="testimonial-text">"Goldstein, Town & East Architects is a leader in the design of<br>
          large-scale residential developments and hospitality<br>
          projects for private developers and international<br>
          corporatons."</h4><br>
        <em style="margin-left:4%;">-Extell</em><br><br><br>
      </div>
      <div class="carousel-item container-fluid">
        <br><br><br>
        <h4 class="testimonial-text">"Sure, New York is home to millions of buildings, but how<br>
          many architectscan claim some 70 buildings, many of them<br>
          very big, many of them designed or built only in the span of<br>
          a few years."</h4><br>
        <em style="margin-left:4%;">-The Observer</em><br><br><br>
      </div>
      <div class="carousel-item container-fluid">
        <br><br><br>
        <h4 class="testimonial-text">"Goldstein Town & East's design is a fantastic replication of<br>
          the kind of structures that characterize the majority of the<br>
          surrounding neighborhood fabric, and at first glance, the<br>
          rendering loks like something built before World War II."</h4><br>
        <em style="margin-left:4%;">-New York Yimby</em><br><br><br>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">

        <button id="navbar1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav " id="navbar1 navbar" style="margin-left:25%;">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/project">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/studio">Studio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>

</div>
</nav>

  <br><br><br><br>
    <script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.bottom = "0";
    } else {
      document.getElementById("navbar").style.bottom = "-50px";
    }
    prevScrollpos = currentScrollPos;
  }
  </script>
</section>
<%- include('partials/footer') %>
