<%- include('partials/header') %>
<div class="p1">
  <img src="image/p10.jpg" alt="">
  <div class="headnav" id="navbar">
    <h1>TOWN | EAST</h1>
    <div class="row headnava">

      <a  style="margin-left:40%; color:white;cursor:pointer;" id="myBtn">Gallery</a>
      <div class="headnavaa">
        <a style="margin-left:52%; color:White;cursor:pointer;" id="myBtn1">Project Details</a>
      </div></div>
    </div>
        <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>

<div class="modal-body">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active d-block1">
    <img class="d-block" src="image/p10.jpg" alt="First slide">
  </div>
  <div class="carousel-item d-block1">
    <img class="d-block" src="image/p10,2.jpg" alt="Second slide">
  </div>
  <div class="carousel-item d-block3">
    <img class="d-block2" src="image/p10,3.jpg" alt="Third slide">
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>

</div>

      </div>

    </div>

      <!-- The Modal -->
      <div id="myModal1" class="modal" style="color:white;">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close1">&times;</span>

          <h2 style="color:white; margin-left: 10%;">56 Leonard Street</h2>
          <br /><br />
        <div class="col" style="margin-left:10%;">
          <h6><b>Address:</b></h6>
          <h6><b>Neighborhood:</b></h6>
          <h6><b>Client:</b></h6>
          <h6><b>Project Type:</b></h6>
          <h6><b>Scope:</b></h6>
          <h6><b>Area:</b></h6>
          <h6><b>Stories:</b></h6>
          <h6><b>Units:</b></h6>
          <h6><b>Status:</b></h6>
          <h6><b>Image Credit:</b></h6>
        </div>
        <div class="navproad">
        <div class="col" style="margin-left:30%;">
          <h6>56 Leonard Street</h6>
          <h6>Tribeca</h6>
          <h6>Alexico Group</h6>
          <h6>Condo</h6>
          <h6>Executive Architect</h6>
          <h6>487000</h6>
          <h6>60</h6>
          <h6>145</h6>
          <h6>Completed</h6>
          <h6>Alex Severin</h6>
        </div></div>
        <div class="navpro1">
        <div class="navpro">
    <h6>Town East is proud to collaborate with some of the world’s most<br />
    renowned designers.  At 56 Leonard we worked closely with Herzog &<br />
  De Meuron to enable the realization of their iconic vision.  This 60-<br />
story residential condominium tower is one of the most recognized<br />
New York City residential designs of all time. With 145 residences,<br />
volumes that cantilever from its core, and a famous sculpture wedged<br>
on the ground floor entry by Anish Kapoor, the level of detail required<br />
by the designers called for the finest technical knowledge mixed with <br />
a highly sensitive respect for the design. Each of the two-to-five <br>
bedroom residences has outdoor space and incredible views.</h6>
        </div></div>
    <br><br><br><br><br><br><br><br><br><br><br>
        </div>

      </div>
  </div>
  <div class="p110headh1" style="margin-top:-49%;margin-left:35%;position:absolute;color:white;">
    <h1 class="p110head" style="text-align:center;">56 Leonard Street</h1>
  </div>
<div class="p1a">
  <img src="image/p10,2.jpg" alt="">
  <img src="image/p10,3.jpg" alt="">
</div>
<div class="p1bc">
<div class="p1b">
  <a href="/p101"> <div class="container2">
<img src="/image/p101.jpg" alt="Avatar" class="std2">
<div class="middle2">
  <div class="text" style="font-size:3vw;">Waterline Square</div>
</div>
</div>
</a>
<a href="/p110">
  <div class="std22">
    <div class="container2" style="margin-top:-48.3%;margin-left:50%;">
<img src="/image/p110.jpg" alt="Avatar" class="std2">
<div class="middle2">
<div class="text" style="font-size:3vw;">Bankside Master Plan</div>
</div>
</div>
</div>
</a>
</div></div>
<!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">

      <button id="navbar1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav " id="navbar1 navbar" style="margin-left:25%;">
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/project">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/studio">Studio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>

</div>
</nav>
  <script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.bottom = "0";
  } else {
    document.getElementById("navbar").style.bottom = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<script>
// Get the modal
var modal1 = document.getElementById("myModal1");

// Get the button that opens the modal
var btn1 = document.getElementById("myBtn1");

// Get the <span> element that closes the modal
var span1 = document.getElementsByClassName("close1")[0];
// When the user clicks the button, open the modal
btn1.onclick = function() {
  modal1.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span1.onclick = function() {
  modal1.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal1) {
    modal1.style.display = "none";
  }
}
</script>
<%- include('partials/footer') %>
