<%- include('partials/header') %>
<div class="p1">
  <img src="image/p20.jpg" alt="">
  <div class="headnav" id="navbar">
    <h1>TOWN | EAST</h1>
    <div class="row headnava">

      <a  style="margin-left:40%; color:white;cursor:pointer;" id="myBtn">Gallery</a>
      <div class="headnavaa">
        <a style="margin-left:52%; color:White;cursor:pointer;" id="myBtn1">Project Details</a>
      </div></div>
    </div>
        <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>

<div class="modal-body">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active d-block1">
    <img class="d-block" src="image/p20.jpg" alt="First slide">
  </div>
  <div class="carousel-item d-block1">
    <img class="d-block" src="image/p21.jpg" alt="Second slide">
  </div>
  <div class="carousel-item d-block1">
    <img class="d-block" src="image/p22.jpg" alt="Third slide">
  </div>
  <div class="carousel-item d-block1">
    <img class="d-block" src="image/p23.jpg" alt="Third slide">
  </div>
  <div class="carousel-item d-block1">
    <img class="d-block" src="image/p24.jpg" alt="Third slide">
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>

</div>

      </div>

    </div>

      <!-- The Modal -->
      <div id="myModal1" class="modal" style="color:white;">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close1">&times;</span>

          <h2 style="color:white; margin-left: 10%;">363 Bond</h2>
          <br /><br />
        <div class="col" style="margin-left:10%;">
          <h6><b>Address:</b></h6>
          <h6><b>Neighborhood:</b></h6>
          <h6><b>Client:</b></h6>
          <h6><b>Project Type:</b></h6>
          <h6><b>Scope:</b></h6>
          <h6><b>Area:</b></h6>
          <h6><b>Stories:</b></h6>
          <h6><b>Units:</b></h6>
          <h6><b>Status:</b></h6>
          <h6><b>Image Credit:</b></h6>
        </div>
          <div class="navproad">
        <div class="col" style="margin-left:30%;">
          <h6>363 Bond Street</h6>
          <h6>Brooklyn</h6>
          <h6>Atlantic Realty Development Corporation</h6>
          <h6>Rental</h6>
          <h6>Architect</h6>
          <h6>253073</h6>
          <h6>12</h6>
          <h6>270</h6>
          <h6>Completed</h6>
          <h6>Alan Silverman</h6>
        </div></div>
        <div class="navpro1">
        <div class="navpro">
          <h6>363 Bond sits on the Gowanus Canal at the edge of historic Carroll<br />
          Gardens and this edgy industrial neighborhood that is quickly<br />
        becoming a destination.  363 and 365 Bond were originally designed<br />
      as a 2-block development on the Gowanus Canal. Designed as a<br />
    complementary pair, each building stands alone.  The facades relate <br>
  and both buildings look and act like a series of buildings working in <br>
tandem to create a well-balanced neighborhood. The buildings both <br>
front a richly landscaped public esplanade designed by Brooklyn <br>
landscape architect Lee Weintraub and are adjacent to the historic <br>
Carroll Street Bridge.  Each building however, has its own identity.</h6>
    <h6>363 Bond draws from the industrial language of the Gowanus<br />
    warehouses but uses greyish brick to differentiate itself from typical<br />
  red brick buildings.  The building mass is broken into elements that<br />
allow it to feel more in keeping with the townhouse scale of<br />
neighboring Carroll Gardens.  One portion of the building acts as<br />
townhouses, with direct entry from the street, front stoops and planters.<br>
The tower portion of the mass sets back at 1st street and at the Canal<br />
and has a glass corner for open views over the water and the<br />
surrounding neighborhood.  As one approaches the site from across <br>
the historic Carroll Street Bridge, there is a restaurant and terrace <br>
planned as well as commercial space that services the community. The <br>
aim of this building is to enhance the neighborhood and to provide a <br>
livable community center for a younger generation.  Residents will <br>
have large-scale, mullioned windows in their units along with such <br>
luxury touches as stone sills.  The amenity package includes a pool on <br>
the 6th floor roof with a view of the Freedom Tower,  a shuffleboard <br>
court,  lounge, game room, yoga, fitness center, kids room, a 2nd floor <br>
courtyard and plenty of accessible outdoor terraces.   Both in <br>
conjunction with 365 Bond Street and on its own, 363 Bond adds to <br>
the neighborhood’s resources and allows First Street to become a <br>
zone of community interaction.</h6>

        </div></div>
    <br><br><br><br><br><br><br><br><br><br><br>
        </div>

      </div>
  </div>

  <div class="p110headh1" style="margin-top:-48%;margin-left:40%;position:absolute;color:white;">
    <h1 class="p110head" style="text-align:center;">363 Bond</h1>
  </div>

<div class="p1a">
  <img src="image/p21.jpg" alt="">
  <img src="image/p22.jpg" alt="">
  <img src="image/p23.jpg" alt="">
  <img src="image/p24.jpg" alt="">
</div>
<div class="p1bc">
<div class="p1b">
  <a href="/p3"> <div class="container2">
<img src="/image/p3.jpg" alt="Avatar" class="std2">
<div class="middle2">
  <div class="text" style="font-size:3vw;">363 Bond</div>
</div>
</div>
</a>
<a href="/p4">
  <div class="std22">
    <div class="container2" style="margin-top:-48.3%;margin-left:50%;">
<img src="/image/p4.jpg" alt="Avatar" class="std2">
<div class="middle2">
<div class="text" style="font-size:3vw;">Tower 28</div>
</div>
</div>
</div>
</a>
</div>
</div>
<!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">

      <button id="navbar1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav " id="navbar1 navbar" style="margin-left:25%;">
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/project">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/studio">Studio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>

</div>
</nav>
  <script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.bottom = "0";
  } else {
    document.getElementById("navbar").style.bottom = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<script>
// Get the modal
var modal1 = document.getElementById("myModal1");

// Get the button that opens the modal
var btn1 = document.getElementById("myBtn1");

// Get the <span> element that closes the modal
var span1 = document.getElementsByClassName("close1")[0];
// When the user clicks the button, open the modal
btn1.onclick = function() {
  modal1.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span1.onclick = function() {
  modal1.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal1) {
    modal1.style.display = "none";
  }
}
</script>
<%- include('partials/footer') %>
