<%- include('partials/header') %>
<section>
  <div class="headd">
    <img src="image/project.jpg" alt="">
    <h1>TOWN | EAST</h1>
  </div>
  <div class="headd2">
    <h1>Together we've designed many of the most<br>prominent structures in New York City.</h1>
  </div>
</section>
<section id="pro">
  <div class="headd1">
    <a href="/project">All</a>
    <a href="/residential" style="color:gray;">Residential</a>
    <a href="/interiors" style="color:gray;">Interiors</a>
    <a href="/comm" style="color:gray;">Commercial/Hospitality</a>
    <a href="/colla" style="color:gray;">Collaborations</a>
    <a href="/master" style="color:gray;">Master</a>
  </div>
  <br><br>
  <div class="st">

    <a href="/p1">
      <div class="std112"><div class="container1">
<img src="/image/p1.jpg" alt="Avatar" class="std1" style="margin-left:7%;">
  <div class="top">
   <div class="text">Residential</div>
  </div>
  <div class="middle">
    <div class="text"><a href="/p1" style="color:white;text-decoration:none;font-size:4vw;">Seaport Residences</a></div>
    <hr class="vp">
    <div class="text1">
    <a href="/p1" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
    </div>
  </div></div>
</div></a>

<a href="/p2">
  <div class="std112"><div class="container2" style="margin-top:-35%;margin-left:50%;">
<img src="/image/p2.jpg" alt="Avatar" class="std1" style="margin-left:5%;">
<div class="top" style="margin-left:-3%;">
<div class="text">Residential</div>
</div>
<div class="middle1">
  <div class="text"><a href="/p2" style="color:white;text-decoration:none;font-size:4vw;">363 Bond</a></div>
  <hr class="vp">
  <div class="text1">
  <a href="/p2" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
  </div>
</div></div>
</div></a>


    <a href="/p3">
      <div class="std11">
      <div class="container1" style="margin-top:-18%;">
<img src="/image/p3.jpg" alt="Avatar" class="std1" style="margin-left:7%;">
  <div class="top">
   <div class="text">Residential</div>
  </div>
  <div class="middle">
    <div class="text"><a href="/p3" style="color:white;text-decoration:none;font-size:4vw;">365 Bond</a></div>
    <hr class="vp">
    <div class="text1">
    <a href="/p3" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</div>
</div></a>

<a href="/p4"><div class="std12 std121">
<div class="container2"  style="margin-top:-19%;margin-left:53.5%;">
<img src="/image/p4.jpg" alt="Avatar" class="std1" >
<div class="top" style="margin-left:-5%;">
<div class="text">Interiors, Residential</div>
</div>
<div class="middle1" style="margin-left:-1%;">
  <div class="text"><a href="/p4" style="color:white;text-decoration:none;font-size:4vw;">Tower 28</a></div>
  <hr class="vp">
  <div class="text1">
  <a href="/p4" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
  </div>
</div></div>
</div></a>

    <a href="/p5">
      <div class="std11">
        <div class="container1">
<img src="/image/p5.jpg" alt="Avatar" class="std1" style="margin-left:7%;margin-top:-50%;">
  <div class="top">
   <div class="text">Residential</div>
  </div>
  <div class="middle">
    <div class="text"><a href="/p5" style="color:white;text-decoration:none;font-size:4vw;">The d'Orsay</a></div>
    <hr class="vp">
    <div class="text1">
    <a href="/p5" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
    </div>
  </div></div>
</div></a>

<a href="/p6">
  <div class="std12 std121">
    <div class="container2" style="margin-left:53.5%;margin-top:-25%;">
<img src="/image/1.jpg" alt="Avatar" class="std1">
<div class="top" style="margin-left:-4%;">
<div class="text">Interiors, Residential</div>
</div>
<div class="middle1">
  <div class="text"><a href="/p6" style="color:white;text-decoration:none;font-size:4vw;">North Park Tower</a></div>
  <hr class="vp">
  <div class="text1">
  <a href="/p6" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
  </div>
</div></div>
</div></a>

<a href="/p7">
  <div class="std12">
    <div class="container2"  style="margin-top:%;margin-left:53.5%;">
<img src="/image/p7.jpg" alt="Avatar" class="std1" >
<div class="top" style="margin-left:-5%;">
<div class="text">Commercial/Hospitality</div>
</div>
<div class="middle1" style="margin-left:-1%;">
  <div class="text"><a href="/p7" style="color:white;text-decoration:none;font-size:4vw;">The Plaza Hotel</a></div>
  <hr class="vp">
  <div class="text1">
  <a href="/p7" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
  </div>
</div></div>
</div></a>

    <a href="/p8">
      <div class="std111">
        <div class="container1">
<img src="/image/p8.jpg" alt="Avatar" class="std1" style="margin-left:7%;margin-top:-128%;">
  <div class="top">
   <div class="text">Commercial/Hospitality</div>
  </div>
  <div class="middle">
    <div class="text"><a href="/p8" style="color:white;text-decoration:none;font-size:4vw;">The Trump Building</a></div>
    <hr class="vp">
    <div class="text1">
    <a href="/p8" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
    </div>
  </div></div>
</div></a>

<a href="/p9">
  <div class="std112"><div class="container1">
<img src="/image/p9.jpg" alt="Avatar" class="std1" style="margin-left:7%; margin-top:2%;">
<div class="top">
<div class="text">Collaborations</div>
</div>
<div class="middle">
<div class="text"><a href="/p9" style="color:white;text-decoration:none;font-size:4vw;">130 William</a></div>
<hr class="vp">
<div class="text1">
<a href="/p9" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
</div>
</div></div>
</div></a>

<a href="/p10">
  <div class="std112"><div class="container1" style="margin-top:-3%;">
<img src="/image/p10.jpg" alt="Avatar" class="std1" style="margin-left:7%;">
<div class="top">
<div class="text">Collaborationsl</div>
</div>
<div class="middle">
<div class="text"><a href="/p10" style="color:white;text-decoration:none;font-size:4vw;">56 Leonard Street</a></div>
<hr class="vp">
<div class="text1">
<a href="/p10" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
</div>
</div></div>
</div></a>

<a href="/p101">
  <div class="std12 std121">
    <div class="container2"  style="margin-top:-32.5%;margin-left:53.5%;">
<img src="/image/p101.jpg" alt="Avatar" class="std1" >
<div class="top" style="margin-left:-5%;">
<div class="text">Collaborations</div>
</div>
<div class="middle1" style="margin-left:-1%;">
<div class="text"><a href="/p101" style="color:white;text-decoration:none;font-size:4vw;">Waterline Square</a></div>
<hr class="vp">
<div class="text1">
<a href="/p101" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
</div>
</div></div>
</div></a>

<a href="/p110">
  <div class="std11">
    <div class="container1">
<img src="/image/p110.jpg" alt="Avatar" class="std1" style="margin-left:7%; margin-top:-31%;">
<div class="top">
<div class="text">Master Planning</div>
</div>
<div class="middle">
<div class="text"><a href="/p110" style="color:white;text-decoration:none;font-size:4vw;">Bankside Master Plan</a></div>
<hr class="vp">
<div class="text1">
<a href="/p110" style="color:white;text-decoration:none;font-size:1.5vw;">  View Project <i class="fas fa-arrow-right"></i></a>
</div></div>
</div>
</div></a>
  </div><br><br><br><br>

  <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">

        <button id="navbar1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav " id="navbar1 navbar" style="margin-left:25%;">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/project">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/studio">Studio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>

</div>
</nav>
    <script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.bottom = "0";
    } else {
      document.getElementById("navbar").style.bottom = "-50px";
    }
    prevScrollpos = currentScrollPos;
  }
  </script>
</section>
<%- include('partials/footer') %>
