<%- include('partials/header') %>
  <section>
    <div class="headd">
      <img src="image/team.jpg" alt="">
      <h1>TOWN | EAST</h1>
    </div>
    <div class="headd2">
      <h1>We approach each project with a fresh canvas and an<br>open mind to create something beautiful.</h1>
    </div>
  </section>
  <section id="ab">
    <br><br><br>
  <h1 class="adh">A collaboration of<br>design professionals<br>deeply experienced in<br>planning and design</h1>
<div class="vl3"></div>
<div class="adha">
  <h4 class="adhah4">Our staff of more than 120 people is well suited to meet the rigorous
    demands and schedules of the development process, while allowing for
    the personal participation of the partners on all projects.</h4>
</div><br><br><br><br><br><br><br><br>
  </section>
  <section id="te">
    <div class="container ig000" style="margin-left:4%;">
  <img src="image/t0.jpg" alt="Avatar" class="image" style="height:100%;">
  <div class="overlay igo1">L. Stephen Hill</div>
</div><br><br><br><br><br>
<div class="row">
  <div class="container" style="margin-left:5%;">
  <img src="image/t1.jpg" alt="Avatar" class="image" style="height:100%;">
  <div class="overlay igo1">Maria Rango</div>
  </div>
  <div class="container ig" style="margin-left:-45%;">
  <img src="image/t2.jpg" alt="Avatar" class="image" style="height:100%;">
  <div class="overlay igo">Breana Imburgia</div>
  </div>
</div><br><br><br><br><br>
<div class="row ig0">
  <div class="container" style="margin-left:5%;">
  <img src="image/t3.jpg" alt="Avatar" class="image" style="height:100%;">
  <div class="overlay igo1">Sarah Ladner Gomez</div>
  </div>
  <div class="container ig1" style="margin-left:-20%;">
  <img src="image/t4.jpg" alt="Avatar" class="image" style="height:100%;">
  <div class="overlay igo2">Sarah Oller Nevado</div>
  </div>
  <div class="container ig2" style="margin-left:-20%;">
  <img src="image/t5.jpg" alt="Avatar" class="image" style="height:100%;">
  <div class="overlay igo3">Zuzzette Agopian</div>
  </div>
</div><br><br>
<div class="row ig00">
  <div class="container" style="margin-left:5%;">
  <img src="image/t6.jpg" alt="Avatar" class="image" style="height:100%;">
  <div class="overlay igo1">David West</div>
  </div>
  <div class="container ig1" style="margin-left:-20%;" style="height:100%;">
  <img src="image/t7.jpg" alt="Avatar" class="image">
  <div class="overlay igo2">Sean Dawson</div>
  </div>
  <div class="container ig2" style="margin-left:-20%;">
  <img src="image/t8.jpg" alt="Avatar" class="image" style="height:100%;">
  <div class="overlay igo3">Jeffrey Ulrich</div>
  </div>
</div>
  </section>
  <section id="ab">
    <br><br><br>
    <div class="teamcar">
  <h1 class="adh">Careers</h1>
  <div class="vl4"></div>
<div class="adha">
  <h4 class="adhah4">We are alwqays looking for tslented individuals to join the Town East team.
  Our team is amde up of the brightest and boldest in the industry.
We look for candidates who have a creative passion for architecture and
the drive to deliver outstanding results.</h4><br>
<h4 class="adhah4">Please submityour resume and any additional information to
<b>careers@towneast.com</b></h4>
</div></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">

      <button id="navbar1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav " id="navbar1 navbar" style="margin-left:25%;">
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/project">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/studio">Studio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>

</div>
</nav>
  <script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.bottom = "0";
  } else {
    document.getElementById("navbar").style.bottom = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
  </section>
<%- include('partials/footer') %>
